.headerMainContainer {
  position: fixed;
  height: 10%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.headerMenuGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homepageContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sobreNosotrosContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comprarContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comprarSeccionPrincipal {
  margin: 10% 0 2% 0 !important;
  background-color: red;
  display: -ms-grid;
  display: grid;
  height: calc(100%-$headerSpace);
  width: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10fr 1fr;
      grid-template-rows: 10fr 1fr;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.comprarGrillaProductos {
  position: relative;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.comprarVerMas {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comprarCard {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 60% 10% 10% 10%;
      grid-template-rows: 60% 10% 10% 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.comprarCard--Imagen {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.comprarCard--Producto {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: large;
  font-weight: bolder;
}

.comprarCard--Precio {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: medium;
  font-weight: lighter;
}

.comprarBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.comprarBotones--verMas {
  background-color: blue;
  color: white;
  font-weight: bolder;
  width: 15%;
  height: 70%;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comprarBotones--verMas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comprarBotones--agregarAlCarrito {
  width: 70%;
  height: 100%;
  background-color: blue;
  color: white;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comprarBotones--agregarAlCarrito:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contactoContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cargaContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cargaSeccionPrincipal {
  margin: 10% 0 2% 0 !important;
  background-color: red;
  display: -ms-grid;
  display: grid;
  height: calc(100%-$headerSpace);
  width: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 2%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cargaCampoTextoEstilo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  border-radius: 12px;
  margin-right: 50% !important;
  padding-left: 2% !important;
}

.cargaLabelDeCarga {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

.cargaBoton {
  margin-top: 5% !important;
  grid-column: 2 span;
  width: 30%;
  height: 50%;
  background-color: blue;
  color: white;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.cargaBoton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  max-width: 100vw;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */