@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.headerMainContainer {
  position: fixed;
  height: 15%;
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  z-index: 100;
}

.headerMenuGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.headerLogoClass {
  width: 55%;
  height: auto;
}

.logoPositioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepageContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.homepageMainContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 42.5% 15% 42.5%;
      grid-template-rows: 42.5% 15% 42.5%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  color: white;
  text-align: center;
  font-size: xx-large;
}

.homepageTitulo {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.backgroundVideo {
  height: 100vh !important;
  width: 100vw !important;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  -webkit-filter: contrast(1.3);
          filter: contrast(1.3);
  overflow: hidden !important;
}

.homepageImagenDivisor {
  height: 100%;
  width: 100%;
}

.sobreNosotrosContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sobreNosotrosMainGrid {
  height: 100%;
  max-width: 100%;
  margin: 15% 0 0 0 !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 40% 40%;
      grid-template-rows: 40% 40%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  overflow: hidden;
}

.sobreNosotrosTexto {
  margin: 0 5% 0 5% !important;
  font-weight: 500;
}

.sobreNosotrosRed {
  color: #bb2e23;
  font-weight: 800;
}

.sobreNosotrosImagen {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  bottom: 2%;
}

.sobreNosotrosLogo {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comprarContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.comprarSeccionPrincipal {
  position: relative;
  margin: 15% 0 2% 0 !important;
  display: -ms-grid;
  display: grid;
  height: calc(80%-$headerSpace);
  width: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  overflow: hidden;
}

.comprarGrillaProductos {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[3];
      grid-template-columns: repeat(3, 25%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  overflow: hidden;
  z-index: 1;
}

.comprarVerMas {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comprarFichaProducto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 80% 10%;
      grid-template-rows: 80% 10%;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 0 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.comprarFichaProducto:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.comprarCard {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 70% 15% 10%;
      grid-template-rows: 70% 15% 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.comprarCard--Imagen {
  max-width: 100%;
  max-height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.comprarCard--Producto {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: large;
  font-weight: bolder;
}

.comprarCard--Precio {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: medium;
  font-weight: lighter;
}

.comprarBotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.comprarBotones--verMas {
  background-color: #bb2e23;
  color: white;
  font-weight: bolder;
  width: 15%;
  height: 70%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comprarBotones--verMas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comprarBotones--textoVerMas {
  width: 100%;
  height: 100%;
  background-color: #bb2e23;
  color: white;
  font-weight: bolder;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.comprarBotones--agregarAlCarrito {
  width: 70%;
  height: 100%;
  background-color: #bb2e23;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-weight: 900;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
}

.comprarBotones--agregarAlCarrito:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comprarDetalleProducto--Precio {
  width: 100%;
  height: 100%;
  font-size: small;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.comprarDetalleProducto--TipoAji {
  width: 100%;
  height: 100%;
  font-size: small;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.comprarDetalleProducto--Picor {
  width: 100%;
  height: 100%;
  font-size: small;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.comprarDetalleProducto--Descripcion {
  width: 100%;
  height: 100%;
  font-size: small;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
}

.closeButton {
  height: 100%;
  width: 100%;
  padding-right: 1% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.comprarExtendida {
  position: relative;
  margin-top: 15% !important;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.comprarContenedorExtendido {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.comprarGrillaProductosExtendida {
  height: 110%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 50%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.customBodyComprar {
  position: relative;
}

.comprarCatPaw {
  position: absolute;
  height: auto;
  max-width: 300px;
  min-width: 300px;
  bottom: -10%;
  right: -2%;
  z-index: -10;
}

.contactoContenedorGeneral {
  height: 130vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #fafafa;
}

.contactoContenidoPrincipal {
  margin: 15% 40% 2% 5% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactoFormularioGrid {
  padding: 5% 0% 0% 0% !important;
  display: -ms-grid;
  display: grid;
  width: 80%;
  height: 100%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-auto-rows: 5%;
  row-gap: 0%;
  -webkit-column-gap: 0%;
          column-gap: 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.contactoTextoSeparador {
  border-bottom: 1px solid black;
}

.contactoInputGeneralStyling {
  border: 1px solid black;
  border-radius: 3px;
  height: 100%;
  padding-left: 1%;
  font-family: "Montserrat", sans-serif;
}

.contactoTextAreaHeight {
  grid-row: 5 span;
  margin-bottom: 5%;
  height: 80%;
  padding: 1% 0 0 1%;
  font-family: "Montserrat", sans-serif;
}

.contactoButtonEnviar {
  margin: 5% 0 5% 0 !important;
  grid-row: 3 span;
  background-color: #bb2e23;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  width: 30%;
  height: 30%;
}

.contactoManoGato {
  position: absolute;
  height: auto;
  min-width: 600px;
  max-width: 600px;
  top: 20%;
  right: 28vw;
  z-index: -10;
}

.carritoIcono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carritoIcono:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.alignLeft {
  text-align: left;
  justify-self: flex-start;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
  justify-self: flex-end;
}

.gridCarrito {
  height: 30vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 50% 28% 7%;
      grid-template-columns: 15% 50% 28% 7%;
  grid-auto-rows: 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.swal-height {
  height: 95vh;
}

.noHayArticulos {
  height: 100%;
  grid-column: 4 span;
}

.eliminarArticuloCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-variation-settings: 'wght' 700 !important;
}

.eliminarArticuloCarrito:hover {
  color: #bb2e23;
}

.cargaContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cargaSeccionPrincipal {
  margin: 15% 10% 2% 0 !important;
  display: -ms-grid;
  display: grid;
  max-height: calc(80%-$headerSpace);
  width: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 2%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cargaCampoTextoEstilo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63.3%;
  margin-right: 50% !important;
  padding-left: 2% !important;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: flex-start;
  max-height: 100%;
  border: 1px solid #bb2e23;
}

.cargaLabelDeCarga {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

.cargaBoton {
  margin: 5% 0% 0% 18% !important;
  grid-column: 2 span;
  width: 50%;
  height: 50%;
  background-color: #bb2e23;
  color: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: bold;
}

.cargaBoton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grillaTarjetaProducto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-auto-rows: 10%;
  row-gap: 10%;
  -webkit-column-gap: 0;
          column-gap: 0;
}

.centerDropzone {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

.checkoutContenedorGeneral {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkoutMainGrid {
  height: 100%;
  width: 100%;
  margin: 15% 10% 2% 5% !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 55% 20% 5%;
      grid-template-columns: 20% 55% 20% 5%;
  grid-auto-rows: 10%;
  row-gap: 0;
  -webkit-column-gap: 0;
          column-gap: 0;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkoutHeader {
  grid-column: 4 span;
  justify-self: flex-start;
  color: #bb2e23;
  padding: 5% 0% 10% 0%;
}

.checkoutFilaTotal {
  grid-column: 4 span;
  justify-self: flex-end;
}

.checkoutBotonFinalizar {
  grid-column: 4 span;
  justify-self: flex-end;
  background-color: #bb2e23;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  height: 60%;
  width: 15%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.checkoutBotonFinalizar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.checkoutBotonEliminarArticulo {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 5% !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.checkoutBotonEliminarArticulo:hover {
  color: #bb2e23;
}

.footerMainContainer {
  height: 20vh;
  width: 100vw;
  background-color: #bb2e23;
  overflow: hidden;
}

.footerMainGrid {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-column-gap: 0;
          column-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerNameComision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
}

.footerLogo {
  height: auto;
  width: 20%;
  color: white;
  padding-left: 5%;
}

.footerName {
  color: white;
}

.clippingSetupBase {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-mask-image: url("./media/interfaz/cutoutCat.svg");
          mask-image: url("./media/interfaz/cutoutCat.svg");
  background-color: #f4f4f4;
  z-index: 1;
}

.customDiv {
  position: absolute;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.containerDiv {
  position: relative;
  height: 100%;
  width: 180px;
}

.containerPicor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  max-width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  color: #bb2e23;
}
/*# sourceMappingURL=style.css.map */