// Icono del carrito de compras
.carritoIcono{
    display: flex;
    transition: transform 0.5s;
    cursor: pointer;
    user-select: none;
}

.carritoIcono:hover{
    transform: scale(1.3);
}

// Alineacion a la izquierda para textos del popup
.alignLeft{
    text-align: left;
    justify-self: flex-start;
}

// Alineacion al centro para textos del popup
.alignCenter{
    text-align: center;
}

// Alineacion a la derecha para textos del popup
.alignRight{
    text-align: right;
    justify-self: flex-end;
}

// Grilla para listado de articulos en el carrito
.gridCarrito{
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 50% 28% 7%;
    grid-auto-rows: 10%;
    row-gap: 0;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

// Altura custom para la alerta
.swal-height
{
    height: 95vh;
}

// Estilo del mensaje de "no hay articulos"
.noHayArticulos{
    height: 100%;
}

.eliminarArticuloCarrito{
    display: flex;
    transition: color 0.5s;
    cursor: pointer;
    user-select: none;
    font-variation-settings: 'wght' 700 !important;
}

.eliminarArticuloCarrito:hover{
    color: $colorRojo;
}