// Tamaño del icono
.clippingSetupBase{
    position: absolute;
    height: 100%;
    width: 100%;
    mask-image: url("https://federicoanelli.github.io/salsas/media/interfaz/cutoutCat.svg");
    background-color: rgb(244, 244, 244);
    z-index: 1;
}

.customDiv{
    position: absolute;
    height: 100%;
    background-color: black;
    z-index: 0;
}

.containerDiv{
    position: relative;
    height: 100%;
    width: 180px;
}

.containerPicor{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
}