// Main container footer
.footerMainContainer{
    height: 20vh;
    width: 100vw;
    background-color: $colorRojo;
    overflow: hidden;
}

// Footer grid
.footerMainGrid{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    column-gap: 0;
    align-items: center;

}


.footerNameComision{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.footerLogo{
    height: auto;
    width: 20%;
    color: white;
    padding-left: 5%;
}

.footerName{
    color: white;
}
