// Contenedor general seccion COMPRAR
.comprarContenedorGeneral{
    @include defaultContainerSeccion;
    position: relative;
    z-index: 1;
}

// Espacio de la seccion donde volcar contenido
.comprarSeccionPrincipal{
    position: relative;
    margin: $headerSpace 0 $margenBottom 0 !important;
    background-color: $colorRojo;
    display: grid;
    height: $heightContentSections;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    row-gap: 0;
    column-gap: 0;
    overflow: hidden;
}

// Grilla para la seccion de COMPRAS de la homepage
.comprarGrillaProductos{

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    row-gap: 0;
    column-gap: 0;
    overflow: hidden;
    z-index: 1;
}

// Rectángulo VER MÁS
.comprarVerMas{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

// Grilla tarjeta de producto
.comprarCard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 10% 10%;
    row-gap: 0;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.5s;
    &--Imagen{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        object-fit: contain;
    }
    &--Producto{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        font-size: large;
        font-weight: bolder;
    }
    &--Precio{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        font-size: medium;
        font-weight: lighter;
    }
}

.comprarCard:hover{
    transform: scale(1.1);
}

// Estilos de botones
.comprarBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    z-index: 10;
    &--verMas{
        background-color: blue;
        color: $colorBlanco;
        font-weight: bolder;
        width: 15%;
        height: 70%;
        border-radius: 12px;
        transition: transform 0.5s;
        cursor: pointer;
        user-select: none;
    }
    &--verMas:hover{
        transform: scale(1.1);
    }
    &--textoVerMas{
        width: 100%;
        height: 100%;
        background-color: blue;
        color: $colorBlanco;
        font-weight: bolder;
        border-radius: 12px;
        transition: transform 0.5s;
        cursor: pointer;
        user-select: none;
    }
    &--agregarAlCarrito{
        width: 70%;
        height: 100%;
        background-color: blue;
        color: white;
        border-radius: 12px;
        transition: transform 0.5s;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
        z-index: 10;
    }
    &--agregarAlCarrito:hover{
        transform: scale(1.1);
    }
}   

// Estilo para detalle de producto
$cardWidth: 90%;
.comprarDetalleProducto
{
    background-color: rgba(255, 255, 255, 0.800);
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 15%;
    left: 20%;
    height: 75%;
    width: 60%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 30% 10% 4% 4% 4% 27% 8%;
    row-gap: 1%;
    column-gap: 0px;
    border-radius: 12px;
    justify-items: center;
    backdrop-filter: blur(6px);
    transition: opacity 0.5s;
    cursor: pointer;

    &--Imagen{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        user-select: none;
    }
    &--Titulo{
        width: 100%;
        height: 100%;
        text-align: center;
        user-select: none;
    }
    &--Precio{
        width: $cardWidth;
        height: 100%;
        user-select: none;
    }
    &--TipoAji{
        width: $cardWidth;
        height: 100%;
        user-select: none;
    }
    &--Picor{
        width: $cardWidth;
        height: 100%;
        user-select: none;
    }
    &--Descripcion{
        width: $cardWidth;
        height: 100%;
        font-size: small;
        user-select: none;
    }
}

.closeButton{
    height: 100%;
    width: 100%;
    padding-right: 1% !important;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

// Pagina de compras extendida
.comprarExtendida{
        position: relative;
        margin-top: $headerSpace !important;
        background-color: $colorRojo;
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 90% 10%;
        row-gap: 0;
        column-gap: 0;


}

.comprarContenedorExtendido{
    @include defaultContainerSeccion;
    z-index: 1;
}


// Grilla para la seccion de COMPRAS de la homepage
.comprarGrillaProductosExtendida{

    height: 110%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50%;
    row-gap: 0;
    column-gap: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

.customBodyComprar{
    position: relative;
}