// Contenedor general seccion COMPRAR
.comprarContenedorGeneral{
    @include defaultContainerSeccion;
}

// Espacio de la seccion donde volcar contenido
.comprarSeccionPrincipal{
    margin: $headerSpace 0 $margenBottom 0 !important;
    background-color: $colorRojo;
    display: grid;
    height: $heightContentSections;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    row-gap: 0;
    column-gap: 0;
}

// Grilla para la seccion de COMPRAS de la homepage
.comprarGrillaProductos{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    row-gap: 0;
    column-gap: 0;
}

// Rectángulo VER MÁS
.comprarVerMas{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

// Grilla tarjeta de producto
.comprarCard{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 10% 10%;
    row-gap: 0;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    &--Imagen{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    &--Producto{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        font-size: large;
        font-weight: bolder;
    }
    &--Precio{
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        font-size: medium;
        font-weight: lighter;
    }
}

// Estilos de botones
.comprarBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    &--verMas{
        background-color: blue;
        color: $colorBlanco;
        font-weight: bolder;
        width: 15%;
        height: 70%;
        border-radius: 12px;
        transition: transform 0.5s;
        cursor: pointer;
        user-select: none;
    }
    &--verMas:hover{
        transform: scale(1.1);
    }
    &--agregarAlCarrito{
        width: 70%;
        height: 100%;
        background-color: blue;
        color: white;
        border-radius: 12px;
        transition: transform 0.5s;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
    }
    &--agregarAlCarrito:hover{
        transform: scale(1.1);
    }
}   