// Configuracion general
$headerSpace: 15%;
$margenBottom: 2%;
$heightContentSections: calc(80%-$headerSpace);

// Colores
$colorVerde: green;
$colorNegro: black;
$colorAmarillo: yellow;
$colorBlanco: white;
$colorRojo: rgb(187, 46, 35);;

// Fonts
$fontColorMain: black;
$fontFamilyMain: 'Montserrat', sans-serif;

// Base para armar cualquier nueva seccion en la homepage
@mixin defaultContainerSeccion {
    height: 100vh;
    max-width: 100vw;
    display: flex;

}