// Configuracion general
$headerSpace: 10%;
$margenBottom: 2%;
$heightContentSections: calc(100%-$headerSpace);

// Colores
$colorVerde: green;
$colorNegro: black;
$colorAmarillo: yellow;
$colorBlanco: white;
$colorRojo: red;

// Fonts
$fontColorMain: black;
$fontFamilyMain: 'Nunito', sans-serif;

// Base para armar cualquier nueva seccion en la homepage
@mixin defaultContainerSeccion {
    height: 100vh;
    max-width: 100vw;
    display: flex;

}